USE [PASTELERIA]
GO

CREATE TABLE [dbo].[Venta](
    [IdVenta] INT IDENTITY(1,1) NOT NULL,
    [IdPedido] INT NOT NULL,
    [IdCliente] INT NOT NULL,
    [IdUsuario] INT NOT NULL,
    [FechaVenta] DATETIME NOT NULL DEFAULT(GETDATE()),
    [Subtotal] DECIMAL(10,2) NOT NULL,
    [Impuesto] DECIMAL(10,2) NOT NULL,
    [Total] DECIMAL(10,2) NOT NULL,
    [MetodoPago] VARCHAR(50) NULL,

    CONSTRAINT PK_Venta PRIMARY KEY CLUSTERED (IdVenta),
    
    CONSTRAINT FK_Venta_Pedido FOREIGN KEY (IdPedido) 
        REFERENCES dbo.Pedido(IdPedido),

    CONSTRAINT FK_Venta_Cliente FOREIGN KEY (IdCliente) 
        REFERENCES dbo.Cliente(IdCliente),

    CONSTRAINT FK_Venta_Usuario FOREIGN KEY (IdUsuario) 
        REFERENCES dbo.Usuario(IdUsuario)
);


INSERT INTO [dbo].[Venta] 
    ([IdPedido], [IdCliente], [IdUsuario], [FechaVenta], [Subtotal], [Impuesto], [Total], [MetodoPago]) 
VALUES 
    (1, 1, 1, GETDATE(), 150.00, 18.00, 168.00, 'Tarjeta de Crédito');

INSERT INTO [dbo].[Venta] 
    ([IdPedido], [IdCliente], [IdUsuario], [FechaVenta], [Subtotal], [Impuesto], [Total], [MetodoPago]) 
VALUES 
    (2, 2, 2, GETDATE(), 200.00, 24.00, 224.00, 'Efectivo');

INSERT INTO [dbo].[Venta] 
    ([IdPedido], [IdCliente], [IdUsuario], [FechaVenta], [Subtotal], [Impuesto], [Total], [MetodoPago]) 
VALUES 
    (3, 3, 3, GETDATE(), 120.00, 14.40, 134.40, 'Transferencia Bancaria');


INSERT INTO [PASTELERIA].[dbo].[Pedido] 
    ([IdCliente], [IdUsuario], [Fecha], [Subtotal], [Total], [Estado]) 
VALUES 
    (1, 1, GETDATE(), 150.00, 168.00, 'Pendiente');

INSERT INTO [PASTELERIA].[dbo].[Pedido] 
    ([IdCliente], [IdUsuario], [Fecha], [Subtotal], [Total], [Estado]) 
VALUES 
    (2, 2, GETDATE(), 200.00, 224.00, 'Enviado');

INSERT INTO [PASTELERIA].[dbo].[Pedido] 
    ([IdCliente], [IdUsuario], [Fecha], [Subtotal], [Total], [Estado]) 
VALUES 
    (3, 3, GETDATE(), 120.00, 134.40, 'Cancelado');


/****** Object:  Table [dbo].[Auditoria]    Script Date: 11/11/2025 20:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [varchar](100) NOT NULL,
	[IdRegistro] [int] NOT NULL,
	[Accion] [varchar](50) NOT NULL,
	[UsuarioId] [int] NULL,
	[UsuarioNombre] [varchar](200) NULL,
	[ValoresAnteriores] [nvarchar](max) NULL,
	[ValoresNuevos] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[FechaAccion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 11/11/2025 20:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
	[Imagen] [varbinary](max) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 11/11/2025 20:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [varchar](100) NOT NULL,
	[Cedula] [varchar](20) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](200) NULL,
	[Contrasenna] [varchar](255) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 11/11/2025 20:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPedido]    Script Date: 11/11/2025 20:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPedido](
	[IdEstadoPedido] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 11/11/2025 20:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[IdEstadoPedido] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 11/11/2025 20:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[NombreProducto] [varchar](200) NOT NULL,
	[DescripcionProducto] [text] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[PorcentajeImpuesto] [decimal](5, 2) NOT NULL,
	[Imagen] [varbinary](max) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 11/11/2025 20:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/11/2025 20:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Contrasenna] [varchar](255) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [FechaAccion]
GO
ALTER TABLE [dbo].[EstadoPedido] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Pedido] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([IdPedido])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Pedido]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Producto]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Cliente]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_EstadoPedido] FOREIGN KEY([IdEstadoPedido])
REFERENCES [dbo].[EstadoPedido] ([IdEstadoPedido])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_EstadoPedido]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Usuario]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO

USE PASTELERIA;

IF NOT EXISTS (
    SELECT * FROM sys.columns 
    WHERE object_id = OBJECT_ID(N'[dbo].[Categoria]') 
    AND name = 'ImagenThumbnail'
)
BEGIN
    ALTER TABLE Categoria 
    ADD ImagenThumbnail VARBINARY(MAX) NULL;
    
    PRINT 'Columna ImagenThumbnail agregada exitosamente a Categoria';
END
ELSE
BEGIN
    PRINT 'La columna ImagenThumbnail ya existe en Categoria';
END
GO

SELECT 
    IdCategoria,
    NombreCategoria,
    CASE 
        WHEN Imagen IS NULL THEN 'Sin imagen'
        WHEN ImagenThumbnail IS NULL THEN 'Tiene imagen pero sin thumbnail'
        ELSE 'Completo'
    END AS EstadoImagen,
    DATALENGTH(Imagen) as TamañoImagen,
    DATALENGTH(ImagenThumbnail) as TamañoThumbnail
FROM Categoria
ORDER BY IdCategoria;

IF NOT EXISTS (
    SELECT * FROM sys.columns 
    WHERE object_id = OBJECT_ID(N'[dbo].[Producto]') 
    AND name = 'ImagenThumbnail'
)
BEGIN
    ALTER TABLE Producto 
    ADD ImagenThumbnail VARBINARY(MAX) NULL;
    
    PRINT 'Columna ImagenThumbnail agregada exitosamente';
END
ELSE
BEGIN
    PRINT 'La columna ImagenThumbnail ya existe';
END
GO

-- Verificar productos sin thumbnail
SELECT 
    IdProducto,
    NombreProducto,
    CASE 
        WHEN Imagen IS NULL THEN 'Sin imagen'
        WHEN ImagenThumbnail IS NULL THEN 'Tiene imagen pero sin thumbnail'
        ELSE 'Completo'
    END AS EstadoImagen,
    DATALENGTH(Imagen) as TamañoImagen,
    DATALENGTH(ImagenThumbnail) as TamañoThumbnail
FROM Producto
ORDER BY IdProducto;

-- Ver el estado real
SELECT 
    IdCategoria,
    NombreCategoria,
    CASE 
        WHEN Imagen IS NULL THEN 'Sin imagen'
        WHEN DATALENGTH(Imagen) = 0 THEN 'Imagen vacía'
        WHEN ImagenThumbnail IS NULL THEN 'Necesita thumbnail'
        WHEN DATALENGTH(ImagenThumbnail) = 0 THEN 'Necesita thumbnail'
        ELSE 'OK'
    END AS Estado
FROM Categoria;

-- También para productos
SELECT 
    IdProducto,
    NombreProducto,
    CASE 
        WHEN Imagen IS NULL THEN 'Sin imagen'
        WHEN DATALENGTH(Imagen) = 0 THEN 'Imagen vacía'
        WHEN ImagenThumbnail IS NULL THEN 'Necesita thumbnail'
        WHEN DATALENGTH(ImagenThumbnail) = 0 THEN 'Necesita thumbnail'
        ELSE 'OK'
    END AS Estado
FROM Producto;